<link rel="stylesheet" href="../static/style.css">{% extends 'base.html' %}

{% block content %}
    <h3>Give Say</h3>
    <form method="post">
        Name <input type="text" name="name" autocomplete="off" required value="{{ GiveSayUser.name }}">
        Content <input type="text" name="content" autocomplete="off" required value="">
        {% if current_user.is_authenticated %}
            Img <input type="text" name="img" value="">
        {% endif %}
        <input class="btn" type="submit" name="submit" value="Send">
    </form>
    {% for say in sayList %}
        <ul class="movie-list">
            <li>
                {% if (say is defined) and (say.__class__.__name__ == 'GiveSay') %}
                    <div class="say-header">{{ say['name'] }}</div>
                    <div>{{ say['content'] }}</div>
                    {% if say['img'] != "" %}
                        <img border=""  src="{{ say['img'] }}" data-isphoto="1" data-limit="400,300" height="200" width=""></img>
                    {% endif %}
                {% elif (say is sequence) and (say is not string) and (say is mapping) and (say.items) %}
                    <div class="say-header">{{ say['name'] }}</div>
                    <div>{{ say['content'] }}</div>
                    {% if say['picUrl'] != "" %}
                        <!-- 一个空间获取，一个GitHub获取 -->
                        {# <img border=""  src="{{ say['picUrl'] }}" data-isphoto="1" data-limit="400,300" height="200" width=""></img> #}
                        <img border=""  src="https://raw.githubusercontent.com/FarEastSea/schedule/master/Zone/Img/{{ say['createTime'] }}" data-isphoto="1" data-limit="400,300" height="200" width=""></img>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    {% endfor%}
{% endblock %}
